@import url('null.css');

.link{
   font-size: 14px;
   background-color: rgb(236, 156, 8);
   color: aliceblue;
   padding: 15px 30px;
   display: inline-block;
   border-radius: 20px;
   margin: 20px 30px 20px  30px;
   text-transform: uppercase;
   letter-spacing: 1px;
   box-shadow: 0 5px 0  rgb(85, 59, 7);

}

.link:hover{
   margin: 22px 30px 20px 30px;
   box-shadow: 0 3px 0  rgb(85, 59, 7);

}

.link:active{
   margin: 25px 30px 20px 30px;
   box-shadow: inset 0 0px 5px 1px  rgb(85, 59, 7);
   
}